body{
    background-color:#800080 ;
}
.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.date, .day{
    background-color: black;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px;

}
.day{
    background-color: blue;
    font-size: 1em;

}
.date{
    color: aqua;
}